doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    style.
      html, body, figure {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
      #e2d3-chart-area {
        width: 100%;
        height: 100%;
      }
  body
    figure#e2d3-chart-area
    script(src='/l/e2d3.js', data-base-url=baseUrl, data-script-type=scriptType, data-data-type=dataType)
